 
 
 .background{
    padding-top: 100px;
}
.button-view_portfolio{
    background:linear-gradient( to left,rgba(0, 0, 0, 0.911),rgb(152, 92, 212));
    border-radius:10px;
    padding: 2px;
    border: solid;
    border-color:rgb(153, 117, 238) ;
    color:white;
    margin-right: 20px;
    text-decoration: none;
}
.button-contact_me{
    background-color: black;
    border-radius:10px;
    padding: 2px;
    border:solid 0.5px;
    border-color:rgba(255, 255, 255, 0.219) ;
    color:white;
    text-decoration: none;
}
.hello{
    color: rgb(153, 117, 238);
}
.MSD{
     color: rgb(153, 117, 238);
}

.button-contact_me:hover{
    background: linear-gradient( to left,rgba(0, 0, 0, 0.911),rgb(152, 92, 212));
    color:rgb(255, 255, 255);
}
.button-view_portfolio:hover{
    background: black !important;
     color:white;
}

.envelope{
    color:white;
}
.github{
    color:white;
}
.linkedin{
    color:white;
}
.profile_img{
   margin-left: 80px;
    margin-top: 20px;
    border-radius: 50%;
    border:solid 6px;
    border-color:  rgb(153, 117, 238); 
}
@media (min-width:768px){
    .profile_img{
         margin-left: 200px;
         margin-top: 60px;
    }
    .background{
        height:500px;
    }
    
}

@media (max-width:768px){
    .background{
        height:730px;
    }
    .icons{
        margin-left: 140px;
    }
    .profile_img{
        margin-right: 50px;
    }
}


