.skills_bg{
       background: linear-gradient(to left, rgb(25, 0, 54), black);
       height:300px;
}
.my_skill{
    color:rgb(166, 135, 238); 
    
}
.skills-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #151618fc;
  color: white;
  font-family: Arial, sans-serif;
}

.circle-container {
  position: relative;
  width: 300px;
  height: 300px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.center-circle {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 80px;
  height: 80px;
  background-color: #a03ef1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.circle-container.expanded .center-circle {
  background-color: #7847ea;
  transform: translate(-50%, -50%) scale(1.0);
}

.skill {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 70px;
  height: 70px;
  background-color: #aa60fa;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 500;
  color: white;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.6s ease;
}

.skill:hover {
  transform: scale(1.2);
  background-color: #c6a6d9;
}
